### 1. Introduction to Python

In [3]:
# First python output with 'Print' functions
print('Hello World!')
print('Hi, Python!')

Hello World!
Hi, Python!

Version control

In [4]:
# Python version check
import sys
print(sys.version) # version control
print(sys.winver) # [Windows only] version number of the Python DLL
print(sys.gettrace) # get the global debug tracing function
print(sys.argv) # keeps the parameters used while running the program we wrote in a list.

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]
3.9
<built-in function gettrace>
['c:\\Users\\HP\\anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '--ip=127.0.0.1', '--stdin=9003', '--control=9001', '--hb=9000', '--Session.signature_scheme="hmac-sha256"', '--Session.key=b"443b6f50-fdd0-4266-8265-88d8dd31434d"', '--shell=9002', '--transport="tcp"', '--iopub=9004', '--f=c:\\Users\\HP\\AppData\\Roaming\\jupyter\\runtime\\kernel-v2-201085d5z0FYRQzN5.json']

help() function

In [5]:
# The Python help function is used to display the documentation of modules, functions, classes, keywords, etc.
help(sys) # here the module name is 'sys'

Help on built-in module sys:

NAME
    sys

MODULE REFERENCE
    https://docs.python.org/3.9/library/sys

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to some objects used or maintained by the
    interpreter and to functions that interact strongly with the interpreter.

    Dynamic objects:

    argv -- command line arguments; argv[0] is the script pathname if known
    path -- module search path; path[0] is the script directory, else ''
    modules -- dictionary of loaded modules

    displayhook -- called to show results in an interactive session
    excepthook -- called to handle any uncaught exception other than SystemExit
      To customize printing in an interactive session or to install a custom
      top-level exception handler, assign other functions to replace these.

    stdin -- standard input file object; used by input()
    stdout -- standard output file object; used by print()
    stderr -- standard error object; used for error messages
      By assigning other file objects (or objects that behave like files)
      to these, it is possible to redirect all of the interpreter's I/O.

    last_type -- type of last uncaught exception
    last_value -- value of last uncaught exception
    last_traceback -- traceback of last uncaught exception
      These three are only available in an interactive session after a
      traceback has been printed.

    Static objects:

    builtin_module_names -- tuple of module names built into this interpreter
    copyright -- copyright notice pertaining to this interpreter
    exec_prefix -- prefix used to find the machine-specific Python library
    executable -- absolute path of the executable binary of the Python interpreter
    float_info -- a named tuple with information about the float implementation.
    float_repr_style -- string indicating the style of repr() output for floats
    hash_info -- a named tuple with information about the hash algorithm.
    hexversion -- version information encoded as a single integer
    implementation -- Python implementation information.
    int_info -- a named tuple with information about the int implementation.
    maxsize -- the largest supported length of containers.
    maxunicode -- the value of the largest Unicode code point
    platform -- platform identifier
    prefix -- prefix used to find the Python library
    thread_info -- a named tuple with information about the thread implementation.
    version -- the version of this interpreter as a string
    version_info -- version information as a named tuple
    dllhandle -- [Windows only] integer handle of the Python DLL
    winver -- [Windows only] version number of the Python DLL
    _enablelegacywindowsfsencoding -- [Windows only]
    __stdin__ -- the original stdin; don't touch!
    __stdout__ -- the original stdout; don't touch!
    __stderr__ -- the original stderr; don't touch!
    __displayhook__ -- the original displayhook; don't touch!
    __excepthook__ -- the original excepthook; don't touch!

    Functions:

    displayhook() -- print an object to the screen, and save it in builtins._
    excepthook() -- print an exception and its traceback to sys.stderr
    exc_info() -- return thread-safe information about the current exception
    exit() -- exit the interpreter by raising SystemExit
    getdlopenflags() -- returns flags to be used for dlopen() calls
    getprofile() -- get the global profiling function
    getrefcount() -- return the reference count for an object (plus one :-)
    getrecursionlimit() -- return the max recursion depth for the interpreter
    getsizeof() -- return the size of an object in bytes
    gettrace() -- get the global debug tracing function
    setdlopenflags() -- set the flags to be used for dlopen() calls
    setprofile() -- set the global profiling function
    setrecursionlimit() -- set the max recursion depth for the interpreter
    settrace() -- set the global debug tracing function

FUNCTIONS
    __breakpointhook__ = breakpointhook(...)
        breakpointhook(*args, **kws)

        This hook function is called by built-in breakpoint().

    __displayhook__ = displayhook(object, /)
        Print an object to sys.stdout and also save it in builtins._

    __excepthook__ = excepthook(exctype, value, traceback, /)
        Handle an exception by displaying it with a traceback on sys.stderr.

    __unraisablehook__ = unraisablehook(unraisable, /)
        Handle an unraisable exception.

        The unraisable argument has the following attributes:

        * exc_type: Exception type.
        * exc_value: Exception value, can be None.
        * exc_traceback: Exception traceback, can be None.
        * err_msg: Error message, can be None.
        * object: Object causing the exception, can be None.

    addaudithook(hook)
        Adds a new audit hook callback.

    audit(...)
        audit(event, *args)

        Passes the event to any audit hooks that are attached.

    call_tracing(func, args, /)
        Call func(*args), while tracing is enabled.

        The tracing state is saved, and restored afterwards.  This is intended
        to be called from a debugger from a checkpoint, to recursively debug
        some other code.

    exc_info()
        Return current exception information: (type, value, traceback).

        Return information about the most recent exception caught by an except
        clause in the current stack frame or in an older stack frame.

    exit(status=None, /)
        Exit the interpreter by raising SystemExit(status).

        If the status is omitted or None, it defaults to zero (i.e., success).
        If the status is an integer, it will be used as the system exit status.
        If it is another kind of object, it will be printed and the system
        exit status will be one (i.e., failure).

    get_asyncgen_hooks()
        Return the installed asynchronous generators hooks.

        This returns a namedtuple of the form (firstiter, finalizer).

    get_coroutine_origin_tracking_depth()
        Check status of origin tracking for coroutine objects in this thread.

    getallocatedblocks()
        Return the number of memory blocks currently allocated.

    getdefaultencoding()
        Return the current default encoding used by the Unicode implementation.

    getfilesystemencodeerrors()
        Return the error mode used Unicode to OS filename conversion.

    getfilesystemencoding()
        Return the encoding used to convert Unicode filenames to OS filenames.

    getprofile()
        Return the profiling function set with sys.setprofile.

        See the profiler chapter in the library manual.

    getrecursionlimit()
        Return the current value of the recursion limit.

        The recursion limit is the maximum depth of the Python interpreter
        stack.  This limit prevents infinite recursion from causing an overflow
        of the C stack and crashing Python.

    getrefcount(object, /)
        Return the reference count of object.

        The count returned is generally one higher than you might expect,
        because it includes the (temporary) reference as an argument to
        getrefcount().

    getsizeof(...)
        getsizeof(object [, default]) -> int

        Return the size of object in bytes.

    getswitchinterval()
        Return the current thread switch interval; see sys.setswitchinterval().

    gettrace()
        Return the global debug tracing function set with sys.settrace.

        See the debugger chapter in the library manual.

    getwindowsversion()
        Return info about the running version of Windows as a named tuple.

        The members are named: major, minor, build, platform, service_pack,
        service_pack_major, service_pack_minor, suite_mask, product_type and
        platform_version. For backward compatibility, only the first 5 items
        are available by indexing. All elements are numbers, except
        service_pack and platform_type which are strings, and platform_version
        which is a 3-tuple. Platform is always 2. Product_type may be 1 for a
        workstation, 2 for a domain controller, 3 for a server.
        Platform_version is a 3-tuple containing a version number that is
        intended for identifying the OS rather than feature detection.

    intern(string, /)
        ``Intern'' the given string.

        This enters the string in the (global) table of interned strings whose
        purpose is to speed up dictionary lookups. Return the string itself or
        the previously interned string object with the same value.

    is_finalizing()
        Return True if Python is exiting.

    set_asyncgen_hooks(...)
        set_asyncgen_hooks(* [, firstiter] [, finalizer])

        Set a finalizer for async generators objects.

    set_coroutine_origin_tracking_depth(depth)
        Enable or disable origin tracking for coroutine objects in this thread.

        Coroutine objects will track 'depth' frames of traceback information
        about where they came from, available in their cr_origin attribute.

        Set a depth of 0 to disable.

    setprofile(...)
        setprofile(function)

        Set the profiling function.  It will be called on each function call
        and return.  See the profiler chapter in the library manual.

    setrecursionlimit(limit, /)
        Set the maximum depth of the Python interpreter stack to n.

        This limit prevents infinite recursion from causing an overflow of the C
        stack and crashing Python.  The highest possible limit is platform-
        dependent.

    setswitchinterval(interval, /)
        Set the ideal thread switching delay inside the Python interpreter.

        The actual frequency of switching threads can be lower if the
        interpreter executes long sequences of uninterruptible code
        (this is implementation-specific and workload-dependent).

        The parameter must represent the desired switching delay in seconds
        A typical value is 0.005 (5 milliseconds).

    settrace(...)
        settrace(function)

        Set the global debug tracing function.  It will be called on each
        function call.  See the debugger chapter in the library manual.

    unraisablehook(unraisable, /)
        Handle an unraisable exception.

        The unraisable argument has the following attributes:

        * exc_type: Exception type.
        * exc_value: Exception value, can be None.
        * exc_traceback: Exception traceback, can be None.
        * err_msg: Error message, can be None.
        * object: Object causing the exception, can be None.

DATA
    __stderr__ = <_io.TextIOWrapper name='<stderr>' mode='w' encoding='utf...
    __stdin__ = <_io.TextIOWrapper name='<stdin>' mode='r' encoding='utf-8...
    __stdout__ = <_io.TextIOWrapper name='<stdout>' mode='w' encoding='utf...
    api_version = 1013
    argv = [r'c:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.p...
    base_exec_prefix = r'c:\Users\HP\anaconda3'
    base_prefix = r'c:\Users\HP\anaconda3'
    builtin_module_names = ('_abc', '_ast', '_bisect', '_blake2', '_codecs...
    byteorder = 'little'
    copyright = 'Copyright (c) 2001-2022 Python Software Foundati...ematis...
    displayhook = <ipykernel.displayhook.ZMQShellDisplayHook object>
    dllhandle = 140731884830720
    dont_write_bytecode = False
    exec_prefix = r'c:\Users\HP\anaconda3'
    executable = r'c:\Users\HP\anaconda3\python.exe'
    flags = sys.flags(debug=0, inspect=0, interactive=0, opt...ation=1, is...
    float_info = sys.float_info(max=1.7976931348623157e+308, max_...epsilo...
    float_repr_style = 'short'
    hash_info = sys.hash_info(width=64, modulus=2305843009213693...iphash2...
    hexversion = 50925040
    implementation = namespace(name='cpython', cache_tag='cpython-39'...as...
    int_info = sys.int_info(bits_per_digit=30, sizeof_digit=4)
    last_value = ModuleNotFoundError("No module named 'handcalcs'")
    maxsize = 9223372036854775807
    maxunicode = 1114111
    meta_path = [<_distutils_hack.DistutilsMetaFinder object>, <class '_fr...
    modules = {'IPython': <module 'IPython' from 'c:\\Users\\HP\\anaconda3...
    path = [r'e:\Github Repositories\Python Foundation', r'c:\Users\HP\ana...
    path_hooks = [<class 'zipimport.zipimporter'>, <function FileFinder.pa...
    path_importer_cache = {r'C:\Users\HP\.ipython': FileFinder('C:\\Users\...
    platform = 'win32'
    platlibdir = 'lib'
    prefix = r'c:\Users\HP\anaconda3'
    ps1 = 'In : '
    ps2 = '...: '
    ps3 = 'Out: '
    pycache_prefix = None
    stderr = <ipykernel.iostream.OutStream object>
    stdin = <_io.TextIOWrapper name='<stdin>' mode='r' encoding='utf-8'>
    stdout = <ipykernel.iostream.OutStream object>
    thread_info = sys.thread_info(name='nt', lock=None, version=None)
    version = '3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AM...
    version_info = sys.version_info(major=3, minor=9, micro=13, releaselev...
    warnoptions = []
    winver = '3.9'

FILE
    (built-in)

Comment

In [6]:
# This is a comment, and to write a comment, '#' symbol is used.
print('Hello World!') # This line prints a string.
# Print 'Hello'
print('Hello')

Hello World!
Hello

Errors

In [7]:
# Print string as error message
frint('Hello, World!')

NameError: name 'frint' is not defined

In [8]:
# Built-in error message
print('Hello, World!)

SyntaxError: EOL while scanning string literal (922369443.py, line 2)

In [9]:
# Print both string and error to see the running order
print('This string is printed')
frint('This gives an error message')
print('This string will not be printed')

This string is printed

NameError: name 'frint' is not defined

Basic data types in Python

In [10]:
# String
print("Hello, World!")
# Integer
print(12)
# Float
print(3.14)
# Boolean
print(True)
print(False)
print(bool(1)) # Output = True
print(bool(0)) # Output = False

Hello, World!
12
3.14
True
False
True
False

type() function

In [11]:
# String
print(type('Hello, World!'))
# Integer
print(type(15))
print(type(-24))
print(type(0))
print(type(1))
# Float
print(type(3.14))
print(type(0.5))
print(type(1.0))
print(type(-5.0))
# Boolean
print(type(True))
print(type(False))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'bool'>

In [12]:
# to obtain the information about 'interger' and 'float'
print(sys.int_info)
print() # to add a space between two outputs, use 'print()' function
print(sys.float_info)

sys.int_info(bits_per_digit=30, sizeof_digit=4)

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

Converting an abject type to another object type

In [14]:
# Let's convert the integer number 6 to a string and a float
number = 6
print(str(number))
print(float(number))
print(type(number))
print(type(str(number)))
print(type(float(number)))
str(number)

6
6.0
<class 'int'>
<class 'str'>
<class 'float'>

'6'

In [15]:
# Let's conver the float number 3.14 to a string and an integer
number = 3.14
print(str(number))
print(int(number))
print(type(number))
print(type(str(number)))
print(type(int(number)))
str(number)

3.14
3
<class 'float'>
<class 'str'>
<class 'int'>

'3.14'

In [16]:
# Let's convert the booleans to an integer, a float, and a string
bool_1 = True
bool_2 = False
print(int(bool_1))
print(int(bool_2))
print(float(bool_1))
print(float(bool_2))
print(str(bool_1))
print(str(bool_2))
print(bool(1))
print(bool(0))

1
0
1.0
0.0
True
False
True
False

In [17]:
# Let's find the data types of 9/3 and 9//4
print(9/3)
print(9//4)
print(type(9/3))
print(type(9//4))

3.0
2
<class 'float'>
<class 'int'>

Experesion and variables

In [18]:
# Addition
x = 56+65+89+45+78.5+98.2
print(x)
print(type(x))

431.7
<class 'float'>

In [19]:
# Substraction
x = 85-52-21-8
print(x)
print(type(x))

4
<class 'int'>

In [20]:
# Multiplication
x = 8*74
print(x)
print(type(x))

592
<class 'int'>

In [21]:
# Division
x = 125/24
print(x)
print(type(x))

5.208333333333333
<class 'float'>

In [22]:
# Floor division
x = 125//24
print(x)
print(type(x))

5
<class 'int'>

In [23]:
# Modulus
x = 125%24
print(x)
print(type(x))

5
<class 'int'>

In [24]:
# Exponentiation
x = 2**3
print(x)
print(type(x))

8
<class 'int'>

In [25]:
# An example: Let's calculate how many minutes there are in 20 hours?
one_hour = 60 # 60 minutes
hour = 20
minutes = one_hour *hour
print(minutes)
print(type(minutes))
# An example: Let's calculate how many hours there are in 348 minutes?
minutes = 348
one_hour = 60
hours = 348/60
print(hours)
print(type(hours))

1200
<class 'int'>
5.8
<class 'float'>

In [26]:
# Mathematica expression
x = 45+3*89
y = (45+3)*89
print(x)
print(y)
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x**y)
print(x//y)
print(x%y)

312
4272
4584
-3960
1332864
0.07303370786516854
106764199167287649605554376373081784961189430306931493889556878541263403954002216688428743890341298063062142643611547988366237942127177343103591136201873077048553130787246373784413835009801652141537511130496428252345316433301059252139523910338594414308819431610621847043225489424826149872487789309094682282558124209932422054457355942893935706933289840196191187747301112830107448513231858429992761218679164101636444032930435771562516453083564435414559235582600151873226528287408677813227333412905261688524005256624038623662294237808277371997593998912667896831712792141180654000924337006775278052474872726377253010429179230961274610199709972018821656789423406359174060212611294727986571959777654952011794250637017985358080908216601447588481225599020031390728573271218289796869021285323813625335270974018872855233694196882336288630021223834404511661194298932452264999156099033727713855480854355371150599738557878712977577549271433343813379749929657561109032988835580585216092640612223164570913525512670029673834624186970132731885063633490286869816267116022850711291300730029398184689724964401635968014416006752408173907688299132168027630933159948201475263620124033097454167552874769580750572768536232057072836692747916545382704495886726653503557104569826738079815324618288334039076954316926964176144516801003942271474329159423194087001952320133263540787867323228560442611012542142088053706362634895360958683956071894298898275289575383990034416358647916025457617283044607150480067042215869291483350336006549248094246438696250080375208389461534853963152534164311981773333081098410305604829527446429676417593080887690716264087479272802801177928627019844338665504449942540252132224791393970054432608788587562964379101809673430739599135323155399832911668044620482009870025584493631148081851265376163103623562636387083932249894673001189744675371946275440365214654161414187030316648573222711835090080081897318300219091548245869334499977213608090446333258285781824122555715598499936719807827911143734551737624831645414556246691913161032429691949623249029853465910493538885314221796981865742062923668895728326074578208241709310004897251557428296032789067547486740192181391908859292119042333485960699513008994753111824412890390017121726969137720487194766161641244508636895641239842977175447098647696380000200601425457682932541424495840785297373343412092075704302175257106378815608869646461537867953037510714459707217905592259999912561471574087292229144681691045198307081603957970540631092904041275921597876900972900755292298162431716184190791412975756134160262682646323761541886261157163246543340734316160172951204369909284367422694003269863774148928793291915969509044808949436863330594309604418397549203216024899386834187882667613212086395315903060781966499106065496575998411192369605649732896520232659110078163366766396924820170443793295864862055239765764886615349315756654762394679720860927255248257903260508892594074251163309549833439313094400350182045130276659485650885602920547122788100336756451230359197707295010445629960379187771884371899800828897555201031016847625162792800651103118503681830485399157159784101527009177787347506142281832358052092991520401207615250009572655299882019296034942719718661285846838808934962130135038621976266858901427303893012659111887199414857205521162128556671552246693248259135495518066170791372005717080374330756739563074148217549182721539000440672863417653818918971054931761885346523340178063832122746190858336952642065518703658958590506919255597436781690581320252733183623644575336940681017851761674854552609352938273032295062139780487444512525951520401913098762308585919002068787781314520995637110702995570869861042647538423922752093051966520168878481396039406213366895420020493155613875832176925622262738906382371772990871883635467268860034427758036552526029234655452703164046562825351915904424601540290334128603211118191317089516497054917603124340977570216031818512682953752269854779079697434466541359538774597600982910935005055415700888730113962534578396907004674510699688115114239304326848340679191496490328075666274933516569087188601690957762795857158697153340327470923540353402594213039642939269098237297466918407872801352528344109932563316818187017474117917146347638300323550862777328083521362876715107291385142597813131288674580934279606607731846749496165120301251045111757666517301790243674120269285804312048431469862103499874651474662185845910620699984383738103255902787639593009575801155914929901600758286861488238083119043206357191532206344718169282919522014001548136211987781277499497952529901620166666071490042652109533029231909756515165834983245291299934857559140685642338334003302924093084782021778113214888165415357268032783374640126158054350445258263214362804681830456703757031170684990735569751511433026347700829125125730585047521290684039538034046831119430538335937416520403181650606933258044392244571720830013340319264941709035221019402305558239272729315429526618543924103320626915068572185023757382713023893056349581557843136721781023901237921557722144367638686874526223160473716592976991690326139661942437040468078065251569416039873226259172717015798797948596855998975242342711030337375043441281664379729175543851249355620124390586225229792894123673107803288521650496545676084561238832438979392228351076613343913905252103033931624844839919373048519189920464337630171032033549423871804114561982518231947107171561239828027154960684578814262277695072220083246941357396519556497954583137487523910519965893155637785146128259538559260027758426512366434176528059907146111804728425965236368727059039788741395275952303383831179009864148595849790220421421644829133738324154039065171580521425707741824665732326894555340769847394100724785507576931938257727997605422173758311047852051466874019230368062089784640916217891357966512652307743981799490300748785599561922221405163425218852423519128052331679493060816108711356031446298397695783045183794979015363134173192551003604171352540606379828468835885060141993030252168630656147922271984598735234941719838704044649522396112261904643657147368395984450483719546262524486766922745433952891223346866793485274639861751074752695187293094731995250144969109294087467492434064858747516258392831664510519332645497844052591284172676530616446296908457234348811370221016311939841337204807561188464588149192181845823265036727776143144592820683644693967386041097198497500315921552561300818695817916085711186424177776949572256017491243184398798492023185257267748681319738204633644543014836371947540587470008465276177552553234608719110897116422276120579342924324187520408533270553886276014263179179528666501808363320570370452066532791040468127831053995948679596449449800230553033085294214283559208821703016747172471592646508326628899514804486573561230195634104785581655563105026602981956508466321169440473874483730830201039181451114344400574925847186963039315085463574546636868638425234512394593481086651205236924953932000318375900186067899141509891492117055793035852947407715561185926871245783228906911727791050899965555159673220381951632419440030500324644448749934357612862429168699058305217936142869057149944469358345739210851751563457075683021133638525231666700514332193424917810026371828565623597140453834850111320654743614076015771670488044665370047639141480621563835183196365771922563010778953752358347412160128528798927782612122322108437207844802533124052027687743673345645354407519568370384296576412066534775150836154041702758146274346296955550140437370675634622433116308840111038787469014315731960812765067360128438979282485450833201119288606049588429605336098478997026616105613094434227896779486426534736056143781871790900891800536959252808781094713837356730884816493496508616758362538451464651712869803633010940287080580181269019026232498252491687899063050063462109238597916331247327663291696742614333695178256233412493282926446621493375434374814065501692625581592989069418629985529287847726895020024163648545122660871125512693003192830003948739025974642788863847370893643262786234597769100828554177657771423888741041985360835613308154547956357475691179172694351653059342526895651245649364459580402228702746098401495117966536947973225366393609345390599387744025066787658584043702592002201302738785603711154600695727107693273926358678775119385195257031515981436527737741728764691067948140605794639748689569347550248113650907833158659419812324506593992055499028289793777477427489085465952516285116556997533392145439861894625945705058566726369877010505775680494227865249586817936213382623385669662830749450474981641036684888836309420665593081517191738342314434133981514605583814609535988113128168802756715268344279110763082514705148404926333019276364127381900274982793975023907025514239996053585335333580125767040023326556849379626151845309051458872745997606397735395779558409558761095781871694462211031049836179161329260649319341242283701983883710853412443893717626557798402927786201533370750327875890708287578548914517538407385256797250117637822494708570394447552752761075322510952124277115637380545987671482035373410491457368879070162057223710126802979178921538392543456813781865219186598634056637653640515831912911101808733206260460320168021006474304584943029955859419770391723331331941405926089147503439070381347551610125841561348526140582160229631218887091987140449848823066369464695262633216039969252838708263284257138661025557093015023143880441861958171612931986517343997349788433308312521166715253271353850146995221922904341763627647423673293149107913554536085893006669810113332479328712820760039313752183001022750710747193995477927696342193422299029309657906910153235652815040621955398608785705740122638653264219603877570118177696906178872873244882327381280853263628546410112270518905994133207228655145236100941700654789687684919116135915560253541819222424848512804392804349777024775231969342032697685353494421220446807748989984463584305028185732016688761018816646962486170616160562447711750458454877856219862302418178738054682360121995953799059448216349297276045406090916685734475821039248716167989737932995363955375459883317586249912714616375977512244254163459086888032612286360613134831620633769945790451995449344223171774431297988423836125738390270218058615158554059728886527888309585939793070323504482634470637866728727012772500883741246129495617476217623080187868102601949911716035992486748007483284135024216800455377471747889521903534210603461174396446444002814189339902907785474683085645608883568845292059750792213213511795857412515364549171034983114170436406585915498634906070632175280637079269273742133501967626487909774310367160105659033123814658661816665229454868786819785567400976805687489082934757358780515856214435459495827563077779810007344486547456
0
312

Variables

In [27]:
# Store the value 89 into the variabe 'number'
number = 90
print(number)
print(type(number))

90
<class 'int'>

In [28]:
x = 25
y = 87
z = 5*x - 2*y
print(z)
t = z/7
print(t)
z = z/14
print(z)

-49
-7.0
-3.5

In [29]:
x, y, z = 8, 4, 2 # the values of x, y, and z can be written in one line.
print(x, y, z)
print(x)
print(y)
print(z)
print(x/y)
print(x/z)
print(y/z)
print(x+y+z)
print(x*y*z)
print(x-y-z)
print(x/y/z)
print(x//y//z)
print(x%y%z)

8 4 2
8
4
2
2.0
4.0
2.0
14
64
2
1.0
1
0

### 2. Strings

In [30]:
# Employ double quotation marks for describing a string
"Hello World!"

'Hello World!'

In [31]:
# Employ single quotation marks for describing a string
'Hello World!'

'Hello World!'

In [32]:
# Digitals and spaces in a string
'3 6 9 2 6 8'

'3 6 9 2 6 8'

In [33]:
# Specific characters in a string
'@#5_]*$%^&'

'@#5_]*$%^&'

In [34]:
# printing a string
print('Hello World!')

Hello World!

In [35]:
# Assigning a string to a variable 'message'
message = 'Hello World!'
print(message)
message

Hello World!

'Hello World!'

Indexing of a string

In [36]:
# printing the first element in a string
message = 'Hello World!'
print(message[0])

H

In [37]:
# Printing the element on index 8 in a string
print(message[8])

r

In [38]:
# lenght of a string includign spaces
len(message)

12

In [39]:
# Printing the last element in a string
print(message[11])
# Another comment writing type is as follows using triple quotes.
"""
Although the length of the string is 12, since the indexing in Python starts with 0,
the number of the last element is therefore 11.
"""

!

'\nAlthough the length of the string is 12, since the indexing in Python starts with 0,\nthe number of the last element is therefore 11.\n'

Negative indexing of a string

In [40]:
# printing the last element of a string
message[-1]

'!'

In [41]:
# printing the first element of a string
message[-12]
"""
Since the negative indexing starts with -1, in this case, the negative index number
of the first element is equal to -12.
"""

'\nSince the negative indexing starts with -1, in this case, the negative index number\nof the first element is equal to -12.\n'

In [42]:
print(len(message))
len(message)

12

12

In [43]:
len('Hello World!')

12

Slicing of a string

In [44]:
# Slicing on the variable 'message' with only index 0 to index 5
message[0:5]

'Hello'

In [45]:
# Slicing on the variable 'message' with only index 6 to index 12
message[6:12]

'World!'

Striding in a string

In [46]:
# to select every second element in the variable 'message'
message[::2]

'HloWrd'

In [48]:
# corporation of slicing and striding
# get every second element in range from index 0 to index 6
message[0:6:2]

'Hlo'

In [49]:
message = 'Hello World!'
question = ' How many people are living on the earth?'
statement = message+question
statement

'Hello World! How many people are living on the earth?'

In [50]:
# printing a string for 4 times
4*" Hello World!"

' Hello World! Hello World! Hello World! Hello World!'

Escape sequences

In [51]:
# New line escape sequence
print('Hello World! \nHow many people are living on the earth?')

Hello World!
How many people are living on the earth?

In [52]:
# Tab escape sequence
print('Hello World! \tHow many people are living on the earth?')

Hello World! 	How many people are living on the earth?

In [53]:
# back slash in a string
print('Hello World! \\ How many people are living on the earth?')
# r will say python that a string will be show as a raw string
print(r'Hello World! \ How many people are living on the earth?')

Hello World! \ How many people are living on the earth?
Hello World! \ How many people are living on the earth?

String operations

In [54]:
message = 'hello python!'
print('Before uppercase: ', message )
# convert uppercase the elements in a string
message_upper = message.upper()
print('After uppercase: ', message_upper)
# convert lowercase the elements in a string
message_lower = message.lower()
print('Again lowercase: ', message_lower)
# convert first letter of string to uppercase
message_title = message.title()
print('The first element of the string is uppercase: ', message_title)

Before uppercase:  hello python!
After uppercase:  HELLO PYTHON!
Again lowercase:  hello python!
The first element of the string is uppercase:  Hello Python!

In [55]:
# replace() method in a string
message = 'Hello Python!'
message_hi = message.replace('Hello', 'Hi')
message_python = message.replace('Python', 'World')
print(message_hi)
print(message_python)

Hi Python!
Hello World!

In [56]:
# find() method application in a string
message = 'Hello World!'
print(message.find('Wo'))
# the output is the index number of the first element of the substring

6

In [57]:
# find() method application to obtain a substring in a string
message.find('World!')

6

In [58]:
# if cannot find the substring in a string, the output is -1.
message.find('cndsjnd')

-1

In [67]:
text = 'Jean-Paul known Nancy'

# find the first index of the substring 'Nancy'
text.find('Nancy')

16

In [68]:
# replace the substring 'Nancy' with 'Nancy Lier Cosgrove Mullis'
text.replace('Nancy', 'Nancy Lier Cosgrove Mullis')

'Jean-Paul known Nancy Lier Cosgrove Mullis'

In [69]:
# convet the text to lower case
text.lower()

'jean-paul known nancy'

In [70]:
# convert the first letter of the text to capital letter
text.capitalize()

'Jean-paul known nancy'

In [71]:
# casefold() method returns a string where all the characters are in lower case
text.casefold()

'jean-paul known nancy'

In [72]:
# center() method will center align the string, using a specified character (space is the default) as the fill character.
message = 'Hallo Leute!'
message.center(50, '-')

'-------------------Hallo Leute!-------------------'

In [74]:
# count() method returns the number of elements with the specified value
text.count('known')

1

In [75]:
# format() method
"""
The format() method formats the specified value(s) and insert them inside the string's placeholder.
The placeholder is defined using curly brackets: {}.
"""
txt = "Hello {word}"
print(txt.format(word = 'World!'))
message1 = 'Hi, My name is {} and I am {} years old.'
print(message1.format('Bob', 36))
message2 = 'Hi, My name is {name} and I am {number} years old.'
print(message2.format(name ='Bob', number = 36))
message3 = 'Hi, My name is {0} and I am {1} years old.'
print(message3.format('Bob', 36))

Hello World!
Hi, My name is Bob and I am 36 years old.
Hi, My name is Bob and I am 36 years old.
Hi, My name is Bob and I am 36 years old.

### 3. Lists

*Lists are ordered.
Lists can contain any arbitrary objects.
List elements can be accessed by index.
Lists can be nested to arbitrary depth.
Lists are mutable.
Lists are dynamic.*

Indexing

In [76]:
# creatinng a list
nlis = ['python', 25, 2022]
nlis

['python', 25, 2022]

In [77]:
print('Positive and negative indexing of the first element: \n - Positive index:', nlis[0], '\n - Negative index:', nlis[-3])
print()
print('Positive and negative indexing of the second element: \n - Positive index:', nlis[1], '\n - Negative index:', nlis[-2])
print()
print('Positive and negative indexing of the third element: \n - Positive index:', nlis[2], '\n - Negative index:', nlis[-1])

Positive and negative indexing of the first element:
 - Positive index: python
 - Negative index: python

Positive and negative indexing of the second element:
 - Positive index: 25
 - Negative index: 25

Positive and negative indexing of the third element:
 - Positive index: 2022
 - Negative index: 2022

What can content a list?

$ Strings
Floats
Integer
Boolean
Nested List
Nested Tuple
Other data structures$$

In [78]:
nlis = ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3,14, 2022)]
nlis

['python',
 3.14,
 2022,
 [1, 1, 2, 3, 5, 8, 13, 21, 34],
 ('hello', 'python', 3, 14, 2022)]

List operations

In [79]:
# take a list
nlis = ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3,14, 2022)]
nlis

['python',
 3.14,
 2022,
 [1, 1, 2, 3, 5, 8, 13, 21, 34],
 ('hello', 'python', 3, 14, 2022)]

In [80]:
# length of the list
len(nlis)

5

Slicing

In [81]:
# slicing of a list
print(nlis[0:2])
print(nlis[2:4])
print(nlis[4:6])

['python', 3.14]
[2022, [1, 1, 2, 3, 5, 8, 13, 21, 34]]
[('hello', 'python', 3, 14, 2022)]

Extending the list

we use the extend() function to add a new element to the list

With this function, we add more than one element to the list.

In [82]:
# take a list
nlis = ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3,14, 2022)]
nlis.extend(['hello world!', 1.618])
nlis

['python',
 3.14,
 2022,
 [1, 1, 2, 3, 5, 8, 13, 21, 34],
 ('hello', 'python', 3, 14, 2022),
 'hello world!',
 1.618]

append() method

As different from the extend() method, with the append() method, we add only one element to the list

You can see the difference by comparing the above and below codes.

In [83]:
nlis = ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3,14, 2022)]
nlis.append(['hello world!', 1.618])
nlis

['python',
 3.14,
 2022,
 [1, 1, 2, 3, 5, 8, 13, 21, 34],
 ('hello', 'python', 3, 14, 2022),
 ['hello world!', 1.618]]

len(), append(), count(), index(), insert(), max(), min(), sum() functions

In [84]:
lis = [1,2,3,4,5,6,7]
print(len(lis))
lis.append(4)
print(lis)
print(lis.count(4)) # How many 4 are on the list 'lis'?
print(lis.index(2)) # What is the index of the number 2 in the list 'lis'?
lis.insert(8, 9) # Add number 9 to the index 8.
print(lis)
print(max(lis)) # What is the maximum number in the list?
print(min(lis)) # What is the minimum number in the list?
print(sum(lis)) # What is the sum of the numbers in the list?

7
[1, 2, 3, 4, 5, 6, 7, 4]
2
1
[1, 2, 3, 4, 5, 6, 7, 4, 9]
9
1
41

Changing the element of a list since it is mutable

In [85]:
nlis = ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3,14, 2022)]
print('Before changing:', nlis)
nlis[0] = 'hello python!'
print('After changing:', nlis)
nlis[1] = 1.618
print('After changing:', nlis)
nlis[2] = [3.14, 2022]
print('After changing:', nlis)

Before changing: ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3, 14, 2022)]
After changing: ['hello python!', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3, 14, 2022)]
After changing: ['hello python!', 1.618, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3, 14, 2022)]
After changing: ['hello python!', 1.618, [3.14, 2022], [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3, 14, 2022)]

Deleting the element from the list using del() function

In [86]:
print('Before changing:', nlis)
del(nlis[0])
print('After changing:', nlis)
del(nlis[-1])
print('After changing:', nlis)

Before changing: ['hello python!', 1.618, [3.14, 2022], [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3, 14, 2022)]
After changing: [1.618, [3.14, 2022], [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3, 14, 2022)]
After changing: [1.618, [3.14, 2022], [1, 1, 2, 3, 5, 8, 13, 21, 34]]

In [87]:
nlis = ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3,14, 2022)]
print('Before deleting:', nlis)
del nlis
print('After deleting:', nlis)

Before deleting: ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3, 14, 2022)]

NameError: name 'nlis' is not defined

Conversion of a string into a list using split() function

In [88]:
message = 'Python is a programming language.'
message.split()

['Python', 'is', 'a', 'programming', 'language.']

Use of split() function with a delimiter

In [89]:
text = 'p,y,t,h,o,n'
text.split("," )

['p', 'y', 't', 'h', 'o', 'n']

Basic operations

In [90]:
nlis_1 = ['a', 'b', 'hello', 'Python']
nlis_2 = [1,2,3,4, 5, 6]
print(len(nlis_1))
print(len(nlis_2))
print(nlis_1+nlis_2)
print(nlis_1*3)
print(nlis_2*3)
for i in nlis_1:
 print(i)
for i in nlis_2:
 print(i)
print(4 in nlis_1)
print(4 in nlis_2)

4
6
['a', 'b', 'hello', 'Python', 1, 2, 3, 4, 5, 6]
['a', 'b', 'hello', 'Python', 'a', 'b', 'hello', 'Python', 'a', 'b', 'hello', 'Python']
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
a
b
hello
Python
1
2
3
4
5
6
False
True

Copy the list

In [91]:
nlis = ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3,14, 2022)]
copy_list = nlis
print('nlis:', nlis)
print('copy_list:', copy_list)

nlis: ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3, 14, 2022)]
copy_list: ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3, 14, 2022)]

In [92]:
# The element in the copied list also changes when the element in the original list was changed.
# See the following example
nlis = ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3,14, 2022)]
print(nlis)
copy_list = nlis
print(copy_list)
print('copy_list[0]:', copy_list[0])
nlis[0] = 'hello python!'
print('copy_list[0]:', copy_list[0])

['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3, 14, 2022)]
['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3, 14, 2022)]
copy_list[0]: python
copy_list[0]: hello python!

Clone the list

In [93]:
# The cloned list is a new copy or clone of the original list.
nlis = ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3,14, 2022)]
clone_lis = nlis[:]
clone_lis

['python',
 3.14,
 2022,
 [1, 1, 2, 3, 5, 8, 13, 21, 34],
 ('hello', 'python', 3, 14, 2022)]

In [94]:
# When an element in the original list is changed, the element in the cloned list does not change.
nlis = ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3,14, 2022)]
print(nlis)
clone_list = nlis[:]
print(clone_list)
print('clone_list[0]:', clone_list[0])
nlis[0] = 'hello, python!'
print('nlis[0]:', nlis[0])

['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3, 14, 2022)]
['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3, 14, 2022)]
clone_list[0]: python
nlis[0]: hello, python!

Concatenate the list

In [95]:
a_list = ['a', 'b', ['c', 'd'], 'e']
b_list = [1,2,3,4,5,(6,7), True, False]
new_list = a_list + b_list
print(new_list)

['a', 'b', ['c', 'd'], 'e', 1, 2, 3, 4, 5, (6, 7), True, False]

As different from the list, I also find significant the following information.

input() function --------------------------------
input() function in Python provides a user of a program supply inputs to the program at runtime

In [96]:
text = input('Enter a string:')
print('The text is', text)
print(type(text))

The text is vinaya
<class 'str'>

In [97]:
# Although the function wants an integer, the type of the entered number is a string.
number = input('Enter an integer: ')
print('The number is', number)
print(type(number))

The number is 4
<class 'str'>

In [98]:
number = int(input('Enter an integer:'))
print('The number is', number)
print(type(number))

The number is 9
<class 'int'>

In [99]:
number = float(input('Enter an integer:'))
print('The number is', number)
print(type(number))

The number is 9.0
<class 'float'>

eval() functions

*This function serves the aim of converting a string to an integer or a float

In [100]:
expression = '8+7'
total = eval(expression)
print('Sum of the expression is', total)
print(type(expression))
print(type(total))

Sum of the expression is 15
<class 'str'>
<class 'int'>

format() function

This function helps to format the output printed on the secreen with good look and attractive.

In [101]:
a = float(input('Enter the pi number:'))
b = float(input('Enter the golden ratio:'))
total = a + b
print('Sum of {} and {} is {}.'.format(a, b, total))

Sum of 3.14 and 4.0 is 7.140000000000001.

In [102]:
a = input('Enter your favorite fruit:')
b = input('Enter your favorite food:')
print('I like {} and {}.'.format(a, b))
print('I like {0} and {1}.'.format(a, b))
print('I like {1} and {0}.'.format(a, b))

I like strawbery and dosa.
I like strawbery and dosa.
I like dosa and strawbery.

Comparison operators

The operators such as <, >, <=, >=, ==, and != compare the certain two operands and return True or False.

In [103]:
a = 3.14
b = 1.618
print('a>b is:', a>b)
print('a<b is:', a<b)
print('a<=b is:', a<=b)
print('a>=b is:', a>=b)
print('a==b is:', a==b)
print('a!=b is:', a!=b)

a>b is: True
a<b is: False
a<=b is: False
a>=b is: True
a==b is: False
a!=b is: True

Logical operators

The operators including and, or, not are utilized to bring two conditions together and assess them. The
output returns True or False

In [104]:
a = 3.14
b = 1.618
c = 12
d = 3.14
print(a>b and c>a)
print(b>c and d>a)
print(b<c or d>a)
print( not a==b)
print(not a==d)

True
False
True
True
False

Assignment operators

The operators including =, +=, -=, =, /=, %=, //=, *=, &=, |=, ^=, >>=, and <<= are employed to evaluate a
value to a variable.

In [105]:
x = 3.14
x+=5
print(x)

8.14

In [106]:
x = 3.14
x-=5
print(x)

-1.8599999999999999

In [107]:
x = 3.14
x*=5
print(x)

15.700000000000001

In [108]:
x = 3.14
x/=5
print(x)

0.628

In [109]:
x = 3.14
x%=5
print(x)

3.14

In [110]:
x = 3.14
x//=5
print(x)

0.0

In [111]:
x = 3.14
x**=5
print(x)

305.2447761824001

Identity operators

The operators is or is not are employed to control if the operands or objects to the left and right of these
operators are referring to a value stored in the same momory location and return True or False.

In [112]:
a = 3.14
b = 1.618
print(a is b)
print(a is not b)
msg1= 'Hello, Python!'
msg2 = 'Hello, World!'
print(msg1 is msg2)
print(msg1 is not msg2)
lis1 = [3.14, 1.618]
lis2 = [3.14, 1.618]
print(lis1 is lis2) # You should see a list copy behavior
print(lis1 is not lis2)

False
True
False
True
False
True

Membership operators

**These operators inclusing in and not in are employed to check if the certain value is available in the
sequence of values and return True or False.
*

In [113]:
# take a list
nlis = [4, 6, 7, 8, 'hello', (4,5), {'name': 'Python'}, {1,2,3}, [1,2,3]]
print(5 in nlis)
print(4 not in nlis)
print((4,5) in nlis)
print(9 not in nlis)

False
False
True
True

### 4. Tuples in Python

Tuples are immutable lists and cannot be changed in any way once it is created.

# *Tuples are defined in the same way as lists.
*They are enclosed within parenthesis and not within square braces.
*Tuples are ordered, indexed collections of data.
*Similar to string indices, the first value in the tuple will have the index [0], the second value [1]
*Negative indices are counted from the end of the tuple, just like lists.
*Tuple also has the same structure where commas separate the values.
*Tuples can store duplicate values.
*Tuples allow you to store several data items including string, integer, float in one variable.

In [114]:
# Take a tuple
tuple_1 = ('Hello', 'Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A': 3, 'B': 8}, (0, 1))
tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 8},
 (0, 1))

In [115]:
print(type(tuple_1))
print(len(tuple_1))

<class 'tuple'>
11

Indexing

In [116]:
# Printing the each value in a tuple using both positive and negative indexing
tuple_1 = ('Hello', 'Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A': 3, 'B': 8}, (0, 1))
print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])
print(tuple_1[-1])
print(tuple_1[-2])
print(tuple_1[-3])

Hello
Python
3.14
(0, 1)
{'A': 3, 'B': 8}
{1, 2, 3}

In [117]:
# Printing the type of each value in the tuple
tuple_1 = ('Hello', 'Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A': 3, 'B': 8}, (0, 1))
print(type(tuple_1[0]))
print(type(tuple_1[2]))
print(type(tuple_1[4]))
print(type(tuple_1[6]))
print(type(tuple_1[7]))
print(type(tuple_1[8]))
print(type(tuple_1[9]))
print(type(tuple_1[10]))

<class 'str'>
<class 'float'>
<class 'bool'>
<class 'int'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'tuple'>

Concatenation of tuples

To concatenate tuples, + sign is used

In [118]:
tuple_2 = tuple_1 + ('Hello World!', 2022)
tuple_2

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 8},
 (0, 1),
 'Hello World!',
 2022)

Repetition of a tuple

In [119]:
rep_tup = (1,2,3,4)
rep_tup*2

(1, 2, 3, 4, 1, 2, 3, 4)

Membership

In [120]:
rep_tup = (1,2,3,4)
print(2 in rep_tup)
print(2 not in rep_tup)
print(5 in rep_tup)
print(5 not in rep_tup)

True
False
False
True

Iteration

In [121]:
rep_tup = (1,2,3,4)
for i in rep_tup:
 print(i)

1
2
3
4

cmp() function

It is to compare two tuples and returs True or False

In [122]:
def cmp(t1, t2):
 return bool(t1 > t2) - bool(t1 < t2)
def cmp(t31, t4):
 return bool(t3 > t4) - bool(t3 < t4)
def cmp(t5, t6):
 return bool(t5 > t6) - bool(t5 < t6)
t1 = (1,3,5) # Here t1 is lower than t2, since the output is -1
t2 = (2,4,6)
t3 = (5,) # Here t3 is higher than t4 since the output is 1
t4 = (4,)
t5 = (3.14,) # Here t5 is equal to t6 since the output is 0
t6 = (3.14,)
print(cmp(t1, t2))
print(cmp(t3, t4))
print(cmp(t5, t6))

-1
1
0

min() function

In [123]:
rep_tup = (1,2,3,4)
min(rep_tup)

1

max() function

In [124]:
rep_tup = (1,2,3,4)
max(rep_tup)

4

tup(seq) function

It converts a specific sequence to a tuple

In [125]:
seq = 'ATGCGTATTGCCAT'
tuple(seq)

('A', 'T', 'G', 'C', 'G', 'T', 'A', 'T', 'T', 'G', 'C', 'C', 'A', 'T')

###### Slicing
To obtain a new tuple from the current tuple, the slicing method is used.

In [126]:
# Obtaining a new tuple from the index 2 to index 6
tuple_1 = ('Hello', 'Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A': 3, 'B': 8}, (0, 1))
tuple_1[2:7]

(3.14, 1.618, True, False, 32)

In [127]:
# Obtaining tuple using negative indexing
tuple_1 = ('Hello', 'Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A': 3, 'B': 8}, (0, 1))
tuple_1[-4:-1]

([1, 2, 3], {1, 2, 3}, {'A': 3, 'B': 8})

##### len() function
To obtain how many elements there are in the tuple, use len() function

In [128]:
tuple_1 = ('Hello', 'Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A': 3, 'B': 8}, (0, 1))
len(tuple_1)

11

Sorting tuple

In [129]:
# Tuples can be sorted and save as a new tuple.
tuple_3 = (0,9,7,4,6,2,9,8,3,1)
sorted_tuple_3 = sorted(tuple_3)
sorted_tuple_3

[0, 1, 2, 3, 4, 6, 7, 8, 9, 9]

#### Nested tuple
In Python, a tuple written inside another tuple is known as a nested tuple.

In [130]:
# Take a nested tuple
nested_tuple =('biotechnology', (0, 5), ('fermentation', 'ethanol'), (3.14, 'pi', (1.618, 'golden ratio')) )
nested_tuple

('biotechnology',
 (0, 5),
 ('fermentation', 'ethanol'),
 (3.14, 'pi', (1.618, 'golden ratio')))

In [131]:
# Now printing the each element of the nested tuple
print('Item 0 of nested tuple is', nested_tuple[0])
print('Item 1 of nested tuple is', nested_tuple[1])
print('Item 2 of nested tuple is', nested_tuple[2])
print('Item 3 of nested tuple is', nested_tuple[3])

Item 0 of nested tuple is biotechnology
Item 1 of nested tuple is (0, 5)
Item 2 of nested tuple is ('fermentation', 'ethanol')
Item 3 of nested tuple is (3.14, 'pi', (1.618, 'golden ratio'))

In [132]:
# Using second index to access other tuples in the nested tuple
print('Item 1, 0 of the nested tuple is', nested_tuple[1][0])
print('Item 1, 1 of the nested tuple is', nested_tuple[1][1])
print('Item 2, 0 of the nested tuple is', nested_tuple[2][0])
print('Item 2, 1 of the nested tuple is', nested_tuple[2][1])
print('Item 3, 0 of the nested tuple is', nested_tuple[3][0])
print('Item 3, 1 of the nested tuple is', nested_tuple[3][1])
print('Item 3, 2 of the nested tuple is', nested_tuple[3][2])
# Accesing to the items in the second nested tuples using a third index
print('Item 3, 2, 0 of the nested tuple is', nested_tuple[3][2][0])
print('Item 3, 2, 1 of the nested tuple is', nested_tuple[3][2][1])

Item 1, 0 of the nested tuple is 0
Item 1, 1 of the nested tuple is 5
Item 2, 0 of the nested tuple is fermentation
Item 2, 1 of the nested tuple is ethanol
Item 3, 0 of the nested tuple is 3.14
Item 3, 1 of the nested tuple is pi
Item 3, 2 of the nested tuple is (1.618, 'golden ratio')
Item 3, 2, 0 of the nested tuple is 1.618
Item 3, 2, 1 of the nested tuple is golden ratio

Tuples are immutable

In [133]:
# Take a tuple
tuple_4 = (1,3,5,7,8)
tuple_4[0] = 9
print(tuple_4)
# The output shows the tuple is immutable

TypeError: 'tuple' object does not support item assignment

#### Delete a tuple
An element in a tuple can not be deleted since it is immutable.
But a whole tuple can be deleted

In [134]:
tuple_4 = (1,3,5,7,8)
print('Before deleting:', tuple_4)
del tuple_4
print('After deleting:', tuple_4)

Before deleting: (1, 3, 5, 7, 8)

NameError: name 'tuple_4' is not defined

#### count() method
This method returns the number of time an item occurs in a tuple.

In [135]:
tuple_5 = (1,1,3,3,5,5,5,5,6,6,7,8,9)
tuple_5.count(5)

4

#### index() method
It returns the index of the first occurrence of the specified value in a tuple

In [136]:
tuple_5 = (1,1,3,3,5,5,5,5,6,6,7,8,9)
print(tuple_5.index(5))
print(tuple_5.index(1))
print(tuple_5.index(9))

4
0
12

#### One element tuple
if a tuple includes only one element, you should put a comma after the element. Otherwise, it is not considered
as a tuple

In [137]:
tuple_6 = (0)
print(tuple_6)
print(type(tuple_6))
# Here, you see that the output is an integer

0
<class 'int'>

In [138]:
tuple_7 = (0,)
print(tuple_7)
print(type(tuple_7))
# You see that the output is a tuple

(0,)
<class 'tuple'>

#  5. Sets in Python

## 
`*Set is one of 4 built-in data types in Python used to store collections of data including List, Tuple, and
*Dictionary
*Sets are unordered, but you can remove items and add new items.
*Set elements are unique. Duplicate elements are not allowed.
*A set itself may be modified, but the elements contained in the set must be of an immutable type.
*Sets are used to store multiple items in a single variable.
*You can denote a set with a pair of curly brackets {}.$`
```

In [139]:
# The empty set of curly braces denotes the empty dictionary, not empty set
x = {}
print(type(x))

<class 'dict'>

In [140]:
# To take a set without elements, use set() function without any items
y = set()
print(type(y))

<class 'set'>

In [141]:
# Take a set
set1 = {'Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022}
set1

{1.618, 2022, 3.14, False, 'Hello Python!', 'Hello World!', True}

Converting list to set

In [142]:
# A list can convert to a set
# Take a list
nlis = ['Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022]
# Convert the list to a set
set2 = set(nlis)
set2

{1.618, 2022, 3.14, False, 'Hello Python!', 'Hello World!', True}

Set operations

In [143]:
# Take a set
set3 = set(['Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022])
set3

{1.618, 2022, 3.14, False, 'Hello Python!', 'Hello World!', True}

#### add() function
To add an element into a set, we use the function add(). If the same element is added to the set, nothing will
happen because the set accepts no duplicates.

In [1]:
# Addition of an element to a set
set3 = set(['Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022])
set3.add('Hi, Python!')
set3

{1.618,
 2022,
 3.14,
 False,
 'Hello Python!',
 'Hello World!',
 'Hi, Python!',
 True}

In [6]:
# Addition of the same element
set3.add('Hi, Python!')
print(set3)
# As you see that there is only one from the added element 'Hi, Python!'
x_set = {6,7,8,9}
print(x_set)
x_set.update({3,4,5})
print(x_set)

{False, 1.618, True, 3.14, 2022, 'Hello World!', 'Hi, Python!'}
{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

#### update() function
To add multiple elements into the set

In [4]:
x_set = {6,7,8,9}
print(x_set)
x_set.update({3,4,5})
print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

#### remove() function
To remove an element from the set

In [5]:
set3.remove('Hello Python!')
set3

{1.618, 2022, 3.14, False, 'Hello World!', 'Hi, Python!', True}

#### discard() function
It leaves the set unchanged if the element to be deleted is not available in the set.

In [7]:
set3.discard(3.14)
set3

{1.618, 2022, False, 'Hello World!', 'Hi, Python!', True}

In [8]:
# To verify if the element is in the set
1.618 in set3

True

Logic operations in Sets

In [9]:
# Take two sets
set4 = set(['Hello Python!', 3.14, 1.618, 'Hello World!'])
set5 = set([3.14, 1.618, True, False, 2022])
# Printing two sets
set4, set5

({1.618, 3.14, 'Hello Python!', 'Hello World!'},
 {False, True, 1.618, 3.14, 2022})

To find the intersect of two sets using &

In [10]:
intersection = set4 & set5
intersection

{1.618, 3.14}

To find the intersect of two sets, use intersection() function

In [11]:
set4.intersection(set5) # The output is the same as that of above

{1.618, 3.14}

#### difference() function
To find the difference between two sets

In [12]:
print(set4.difference(set5))
print(set5.difference(set4))
# The same process can make using subtraction operator as follows:
print(set4-set5)
print(set5-set4)

{'Hello World!', 'Hello Python!'}
{False, True, 2022}
{'Hello World!', 'Hello Python!'}
{False, True, 2022}

Set comparison

In [13]:
print(set4>set5)
print(set5>set4)
print(set4==set5)

False
False
False

#### union() function
it corresponds to all the elements in both sets

In [14]:
set4.union(set5)

{1.618, 2022, 3.14, False, 'Hello Python!', 'Hello World!', True}

#### issuperset() and issubset() functions
To control if a set is a superset or a subset of another set

In [15]:
set(set4).issuperset(set5)

False

In [16]:
set(set4).issubset(set5)

False

In [17]:
print(set([3.14, 1.618]).issubset(set5))
print(set([3.14, 1.618]).issubset(set4))
print(set4.issuperset([3.14, 1.618]))
print(set5.issuperset([3.14, 1.618]))

True
True
True
True

min(), max() and sum() functions

In [18]:
A = [1,1,2,2,3,3,4,4,5,5] # Take a list
B = {1,1,2,2,3,3,4,4,5,5} # Take a set
print('The minimum number of A is', min(A))
print('The minimum number of B is', min(B))
print('The maximum number of A is', max(A))
print('The maximum number of B is', max(B))
print('The sum of A is', sum(A))
print('The sum of B is', sum(B))
# As you see that the sum of A and B is different. Because the set takes no duplicate

The minimum number of A is 1
The minimum number of B is 1
The maximum number of A is 5
The maximum number of B is 5
The sum of A is 30
The sum of B is 15

#### No mutable sequence in a set
A set can not have mutable elements such as list or dictionary in it. If any, it returns error as follows:

In [19]:
set6 = {'Python', 1,2,3, [1,2,3]}
set6

TypeError: unhashable type: 'list'

#### index() function
This function does not work in set since the set is unordered collection

In [20]:
set7 = {1,2,3,4}
set7[1]

TypeError: 'set' object is not subscriptable

Copy the set

In [21]:
set8 = {1,3,5,7,9}
print(set8)
set9 = set8
print(set9)
set8.add(11)
print(set8)
print(set9)
"""
As you see that although the number 8 is added into the set 'set8', the added number
is also added into the set 'set9'
"""

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 11}
{1, 3, 5, 7, 9, 11}

"\nAs you see that although the number 8 is added into the set 'set8', the added number\nis also added into the set 'set9'\n"

#### copy() function
it returns a shallow copy of the original set.

In [22]:
set8 = {1,3,5,7,9}
print(set8)
set9 = set8.copy()
print(set9)
set8.add(11)
print(set8)
print(set9)
"""
When this function is used, the original set stays unmodified.
A new copy stored in another set of memory locations is created.
The change made in one copy won't reflect in another.
"""

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 11}
{1, 3, 5, 7, 9}

"\nWhen this function is used, the original set stays unmodified.\nA new copy stored in another set of memory locations is created.\nThe change made in one copy won't reflect in another.\n"

#### celar() function
it removes all elements in the set and then do the set empty.

In [24]:
x = {0, 1,1,2,3,5,8,13, 21,34}
print( x)
x.clear()
print(x)

{0, 1, 2, 3, 34, 5, 8, 13, 21}
set()

#### pop() function
It removes and returns an arbitrary set element.

In [25]:
x = {0, 1,1,2,3,5,8,13,21,34}
print(x)
x.pop()
print(x)

{0, 1, 2, 3, 34, 5, 8, 13, 21}
{1, 2, 3, 34, 5, 8, 13, 21}